<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LineTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C576D8F1C19737F0038AFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C576DA31C19737F0038AFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C576DAE1C19737F0038AFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
